<h2>SearcherController#index</h2>

<h3>Default settings values</h3>

<p>
  The following four tests shows the output of some equations based on the
  default settings values for <code>'abc'</code> (xxx) and <code>'abc2'</code>
  (yyy):
</p>

<ol>
  <li>
    <% if @abc == 'xxx' %>
      Result of <code>@abc</code> equals "xxx".
    <% else %>
      Result of <code>@abc</code> does not equal "xxx".
    <% end %>
  </li>

  <li>
    <% if Setting['plugin_searcher']['abc'] == 'xxx' %>
      Result of <code>Setting['plugin_searcher'][:abc]</code> equals "xxx".
    <% else %>
      Result of <code>Setting['plugin_searcher'][:abc]</code> does not equal "xxx".
    <% end %>
  </li>

  <li>
    <% if Setting['plugin_searcher']['abc2'] != 'xxx' %>
      Result of <code>Setting['plugin_searcher'][:abc2]</code> does not equal "xxx".
    <% else %>
      Result of <code>Setting['plugin_searcher'][:abc2]</code> does equal "xxx".
    <% end %>
  </li>

  <li>
    <% if Setting['plugin_searcher']['abc2'] == 'yyy' %>
      The result of <code>Setting['plugin_searcher'][:abc2]</code> equals "yyy".
    <% else %>
      The result of <code>Setting['plugin_searcher'][:abc2]</code> does not equal "yyy".
    <% end %>
  </li>
</ol>
